<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/img.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../js/kickstart.js"></script>
    <link rel="stylesheet" href="../css/kickstart.css" media="all"/>
    <link rel="stylesheet" href="../css/tag.css" type="text/css">
    <meta charset="utf-8" />
    <title>blog</title>
</head>
<body>
<h1>HelloWorld</h1>
<button type="button" class="pill large pink">test<i class="fa fa-apple"></i></button>
</body>
</html>