<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:src="@{/js/kickstart.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/img.css}">
    <link rel="stylesheet" th:href="@{/css/kickstart.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/css/tag.css}" type="text/css">
    <meta charset="utf-8"/>
    <title>blog</title>
</head>
<body>
<h1>Blog</h1>
<button id="new_btn" value="hide" type="button" class="pill large blue">New<i class="fa fa-apple"></i></button>

<table style="display:none" id="blog_table">
    <tr>
        <td>Title :</td>
        <td><input type="text" id="blog_title" placeholder="title"/></td>
    </tr>
    <tr>
        <td>Content :</td>
        <td><textarea id="blog_content" placeholder="Write your blog"></textarea></td>
    </tr>
    <tr>
        <td>Genre :</td>
        <td>
            <select id="genre_pulldown">
                <option value="0">-- Choose --</option>
                <option value="仕事">仕事</option>
                <option value="映画">映画</option>
                <option value="小説">小説</option>
            </select></td>
    </tr>
    <tr>
        <td>
            <button id="reset_btn" class="inset red"><i class="fa fa-minus-square"></i>RESET</button>
        </td>
        <td>
            <button id="register_btn" class="pink"><i class="fa fa-plus-square"></i>REGISTER</button>
        </td>
    </tr>


</table>


</body>
</html>

<script>
$('#new_btn').on('click',function(){
        var btn = $('#new_btn').val();
        if(btn=='hide'){
        $('#blog_table').show();
        $('#new_btn').val('show');
        }else{
        $('#blog_table').hide();
        $('#new_btn').val('hide');
        }
});

$('#reset_btn').on('click',function(){
      $('#blog_title').val(``);
      $('#blog_content').val(``);
      $('#genre_pulldown').val(``);
});

$('#register_btn').on('click',function(){
    var title = $("#blog_title").val();
    var content = $("#blog_content").val();
    var genre = $('#genre_pulldown').val();
    let article={
            title: title,
            content: content,
            genre: genre };
    console.log(article);
    postArticle(article);
});

function postArticle(article) {
    $.ajax({
      type: "post",
      url: "http://localhost:8080/blog/register",
      data: { article: article },
      dataType: "json"
    }).then(function (data) {
      console.log(data);
    }, function(XMLHttpRequest, textStatus, errorThrown) {
      console.log(XMLHttpRequest, textStatus, errorThrown);
    });
    }


</script>